<section class="markets">
  <div class="markets-header d-flex justify-content-center align-items-center position-relative">
    <h1 class="text-white">اسواق حراج</h1>
  </div>
  <div class="container">
    <div class="row py-3">
      <div class="col-lg-3">
        <app-filter-list (onFilter)="getFilterData($event)"></app-filter-list>
      </div>
      <div class="col-lg-9">
        <ng-container *ngIf="items.length!=0;else skelton">
          <app-item *ngFor="let item of items" [data]="item" ></app-item>
        </ng-container>
        <ng-template #skelton>
          <app-skelton *ngFor="let count of[1,2,3,4,5]"></app-skelton>
        </ng-template>
        <p-paginator [rows]="pageSize" [totalRecords]="totalCount" [pageLinkSize]="3" (onPageChange)="paginate($event)" ></p-paginator>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="markets-location">
          <h3 class="mb-4">اماكن الاسواق</h3>
          <div class="markets-location-list">
            <div class="market-location  custom-br text-center text-vertical mb-4" *ngFor="let state of states" (click)="filterByState(state.id)">
              <p class="mb-0 d-flex  justify-content-center align-items-center h-100 fw-bold">{{state.name}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
