<form
  class="filter-box p-3 custom-br"
  [formGroup]="filterForm"
  (ngSubmit)="filter()"
>
  <div class="mb-3">
    <h4
      class="text-white bg-blue-color py-3 px-5 custom-br"
    >
      الفلترة | والتصفية
  </h4>
  </div>

  <div class="mb-3">
    <label class="form-label">المنطقة</label>
    <p-dropdown
      [options]="states"
      emptyMessage="لا يوجد بيانات"
      emptyFilterMessage="لا يوجد نتائج"
      placeholder="كل المناطق"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      styleClass="w-100 custom-br"
      (onChange)="getSelectedState($event)"
      formControlName="state"
    ></p-dropdown>
  </div>
  <div class="mb-3">
    <label class="form-label">المدن</label>
    <p-dropdown
      [disabled]="cities.length == 0"
      [options]="cities"
      emptyMessage="لا يوجد بيانات"
      emptyFilterMessage="لا يوجد نتائج"
      placeholder="كل المدن"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      styleClass="w-100 custom-br"
      formControlName="governorate"
    ></p-dropdown>
  </div>
  <button class="text-white bg-orange-color py-3 px-5 custom-br border-0 w-100" type="submit">فلتر العقارات</button>
</form>
