<div class="details-specifications-list">
  <div class="specification custom-br mb-4">
    <p class="mb-3 fw-bold">الماركة</p>
    <p class="mb-0">{{ itemInfo?.companyName }}</p>
  </div>
  <div class="specification custom-br mb-4">
    <p class="mb-3 fw-bold">الموديل</p>
    <p class="mb-0">{{ itemInfo?.carTypeName }}</p>
  </div>
  <div class="specification custom-br mb-4">
    <p class="mb-3 fw-bold">اول استخدم</p>
    <p class="mb-0">{{ itemInfo?.model }}</p>
  </div>
  <div class="specification custom-br mb-4">
    <p class="mb-3 fw-bold">الممشى</p>
    <p class="mb-0">{{ itemInfo?.carCounter | number }} كم</p>
  </div>
  <div class="specification custom-br mb-4">
    <p class="mb-3 fw-bold">ناقل الحركة</p>
    <p class="mb-0">{{ itemInfo?.gearType }}</p>
  </div>
  <div class="specification custom-br mb-4">
    <p class="mb-3 fw-bold">مدينة</p>
    <p class="mb-0">{{ itemInfo?.squareName }}</p>
  </div>
  <div class="specification custom-br mb-4">
    <p class="mb-3 fw-bold">اللون</p>
    <p class="mb-0">{{ itemInfo?.color }}</p>
  </div>
  <div class="specification custom-br mb-4">
    <p class="mb-3 fw-bold">الوقود</p>
    <p class="mb-0">{{ itemInfo?.fuel }}</p>
  </div>
</div>
