<section class="not-found">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center position-relative">
        <img src="../../../../assets/images/40.png" alt="" class="img-fluid mb-3">
        <h2 class="fw-bold mb-3">الصفحة التي تحاول الوصول لها غير موجودة</h2>
        <p class="mb-3">الرجاء التكرم بالعودة للصفحة الرئيسية</p>
        <button class="bg-orange-color border-0 px-4 py-2 text-white rounded-pill mb-3" routerLink="/">الصفحة الرئيسية</button>
        <p class="text-black-50">سعداء برحلتنا عندنا</p>
      </div>
    </div>
  </div>
</section>
