<div class="card shadow-lg py-3 mb-4 mt-3 custom-br border-0">
  <div class="card-body">
    <h3 class="fw-bold mb-5">نوع الاعلان</h3>
    <ul class="list-unstyled advertisement-type">
      <li class="d-inline-block"><img src="../../../../../assets/images/icons/cow.png" alt="" class="img-fluid"> <span class="fw-bold px-3">مواشى وطيور</span></li>
      <li class="d-inline-block"><img src="../../../../../assets/images/icons/skyscraper.png" alt="" class="img-fluid"> <span class="fw-bold px-3">العقارات</span></li>
      <li class="d-inline-block"><img src="../../../../../assets/images/icons/car.png" alt="" class="img-fluid"> <span class="fw-bold px-3">السيارات</span></li>
      <li class="d-inline-block"><img src="../../../../../assets/images/icons/lamp.png" alt="" class="img-fluid"> <span class="fw-bold px-3">الاثاث</span></li>
    </ul>
  </div>
</div>

<div class="d-flex justify-content-end">

  <button type="button" (click)="nextPage()" class="bg-blue-color text-white py-3 px-5 custom-br" [disabled]="submitted">التالي</button>
</div>
